<!doctype html>
<html>
 
<head>
    <title>Rolex french level prediction algorithm</title>
</head>
 
 <body>

    <h1><img style="display: block; margin-left: auto; margin-right: auto;" src="https://i.pinimg.com/originals/23/24/28/2324287097b26cde49893d5512434254.png" alt="" width="285" height="202" /></h1>
  
    <h1 style="text-align: center;">Rolex french level prediction algorithm</h1>
  
  <form action={{ url_for("evaluate")}} method="post">
   <p style="text-align: center;">
    <label for="phrase">Sentence to evaluate: </label>
    <input type="text" size=60 name="phrase">
    <input type="submit">
   </p>
  </form>
  
  <p style="text-align: center;">{{ phrase }}</p>
  <p style="text-align: center;">{{ top_cat }} {{ top_score }} </p>


</body>
</html>
